Temp/
Obj/
UnityGenerated/
Library/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
.vs/
.gradle/
ExportedObj/
.consulo/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.tmp
*.sln
*.user
*.userprefs
*.unityproj
*.pdb
*.mdb
*.booproj
*.opendb
*.VC.db
*.dwlt
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
.DS_Store
 
.DS_Store?
 
._*
 
.Spotlight-V100
 
.Trashes
 
Icon?
 
ehthumbs.db
 
Thumbs.db
 
GraphicsSettings.asset
 
ProjectSettings.asset
 
ProjectVersion.txt
FineDustProject/.gitignore.txt
FineDustProject/Assets/Models/PlayerCtrl.controller
FineDustProject/FineDustProject.csproj
FineDustProject/Library/assetDatabase3
FineDustProject/Library/CurrentLayout.dwlt
FineDustProject/Library/metadata/73/733593242de36d74296cc7f1c62a4fc9
FineDustProject/Library/metadata/bd/bd91a3c0e9e30574c9a1a206e454da26
FineDustProject/Library/shadercompiler-UnityShaderCompiler.exe0.log
FineDustProject/Unity.Analytics.DataPrivacy.csproj
FineDustProject/Unity.CollabProxy.Editor.csproj
FineDustProject/Unity.PackageManagerUI.Editor.csproj
FineDustProject/Unity.TextMeshPro.csproj
FineDustProject/Unity.TextMeshPro.Editor.csproj
